h1 {
    margin: 0 auto; 
    margin-top: 5vh;
    margin-bottom: 5vh; 
    text-align: center; 
    font-size: 50px; 
}

#XO {
    display: flex;
    justify-content: space-evenly;
}

#red-intro {
    color: red;
    font-size: 30px; 
}

#green-intro {
    color: green;
    font-size: 30px; 
}

#plate {
    box-sizing: border-box;
    border: 2px solid black;
    height: 60vh;
    width: 60vh;
    margin: auto; 
    background-color: grey; 
    margin-top: 5vh; 
}

#red {
    position: absolute; 
    top: 15%; 
    right: 45%; 
    color: red; 
    display: none; 
    font-size: 40px; 
}

#green {
    position: absolute; 
    top: 15%; 
    right: 43%; 
    display: none; 
    color: green; 
    font-size: 40px; 
}

#line1 {
    box-sizing: border-box;
    display: flex;
    border: 2px solid black; 
    height: 20vh; 
    width: 100%;
    margin: auto;
    padding: 1%; 
}

#top1 {
    box-sizing: border-box;
    border: 2px solid black;
    width: 34%; 
    margin-right: 1%; 
}

#top2 {
    box-sizing: border-box;
    border: 2px solid black;
    width: 34%; 
}

#top3 {
    box-sizing: border-box;
    border: 2px solid black;
    width: 34%; 
    margin-left: 1%; 
}

#line2 {
    box-sizing: border-box;
    display: flex;
    border: 2px solid black; 
    height: 20vh; 
    width: 100%;
    margin: auto;
    padding: 1%; 
}

#mid1 {
    box-sizing: border-box;
    border: 2px solid black;
    width: 34%; 
    margin-right: 1%; 
}

#mid2 {
    box-sizing: border-box;
    border: 2px solid black;
    width: 34%; 
}

#mid3 {
    box-sizing: border-box;
    border: 2px solid black;
    width: 34%; 
    margin-left: 1%; 
}

#line3 {
    box-sizing: border-box;
    display: flex;
    border: 2px solid black; 
    height: 20vh; 
    width: 100%;
    margin: auto;
    padding: 1%; 
}

#bot1 {
    box-sizing: border-box;
    border: 2px solid black;
    width: 34%; 
    margin-right: 1%; 
}

#bot2 {
    box-sizing: border-box;
    border: 2px solid black;
    width: 34%; 
}

#bot3 {
    box-sizing: border-box;
    border: 2px solid black;
    width: 34%; 
    margin-left: 1%; 
}

#reset {
    text-align: center;
    margin-top: 3%; 
}